/*
    Style Sheet for the MGA Cyberknights website
    Spring 2022
    Designed by MGA SC-Team2
    Color Codes Used:
    Black			: #000000
	White			: #FFFFFF
    MGA Purple 	    : #633394
    Green           : #369019
    Dark Green      : #1A6010
            
    MGA Colors for Reference:	
	Main Purple 	: #633394
	Darker Purple	: #42337E
	Darker Gray		: #B0B6BB
	Gray			: #C9CED1
	Black			: #000000
	White			: #FFFFFF
	Coal			: #2C2C2C
*/

/*          global styles
================================================== */

* {
    font-family: 'Roboto Serif', sans-serif;
}

h1 {
    text-align: center;
    font-family: 'Roboto Serif', sans-serif;
    font-weight: bold;
    font-size: 40px;
    text-shadow: 1px 1px #633394;
}

h2 {
    text-align: left;
    font-family: 'Roboto Serif', sans-serif;
    font-weight: bold;
    text-shadow: 1px 1px #633394;
    font-size: 40px;
}

h3 {
    font-family: 'Roboto Serif', sans-serif;
    font-weight: bold;
    text-shadow: 1px 1px #633394;
}

iframe {
    display: block;
    margin: auto;
}

/* Indention class */
.tab {
    text-indent: 40px;
}

/* Photo class style */
.photo-shadow {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
    border: solid 12px #633394;
    border-radius: 8px;
}


/* body style 
================================================== */

:root {
    --gradiant: linear-gradient( 45deg, #369019, #D7D7D8, #A8A9AD, #633394 )
}

body {
    margin: 0;
    font-family: 'Roboto Serif', sans-serif;
    background-color: white;
    font-weight: bold;

}

/* Gradiant Background Animation style */
@keyframes bg-animation {
    0% {
        background-position: left;
    }

    100% {
        background-position: right;
    }
}


.text-center {
    text-align: center;
}


/* header style 
================================================== */
header {
    text-align: center;
    display: contents;
    margin: 0;
    padding: 25px 25px;
    background-color: lightgray;
}

    header h1 {
        font-size: 65px;
        font-family: 'Roboto Serif', sans-serif;
        margin: 0;
        font-weight: bold;
        padding-top: 15px;
        padding-right: 25%;
        padding-left: 5%;
        text-shadow: 3px 3px #369019;
    }

.headerContent {
    width: 100%;
    overflow: auto;
    padding-bottom: 15px;
    background-image: var(--gradiant);
    background-size: 300%;
    animation: bg-animation 20s infinite alternate;
    
}

/* header image style
================================================== */
#KnightsLogo {
    max-height: 260px;
    float: left;
    margin-right: 15px;
    padding-left: 15%;
    padding-right: 5%;
    margin-top: 5px;
}


/* navbar section style  
================================================== */
.navbar {
    background-color: #f1f1f1;
    position: sticky;
    width: 100%;
    text-align: center;
    text-decoration: none;
    padding: 15px;
    font-size: 1.6em;
    line-height: 25px;
    border-radius: 4px;
    outline: 7px solid #633394;
    background-color: #2C2C2C;
    z-index: 99;
}

    .navbar a {
        color: white;
        text-align: center;
        padding: 12px 12px;
        text-decoration: none;
        font-size: 1.6em;
        line-height: 25px;
        border-radius: 4px;
        width: 20%;
    }

#homeBtn {
    color: white;
    text-align: center;
    padding: 25px 50px;
    text-decoration: none;
    line-height: 25px;
    border-radius: 4px;
    width: 20%;
    text-shadow: 3px 3px #633394;
}

/* subnav section style  
================================================== */
.subnav {
    float: none;
    display: inline-block;
    position: relative;
}

.subnav-content {
    font-size: 0.7em;
    display: none;
    position: absolute;
    left: 0;
    background-color: #633394;
    width: max-content;
    z-index: 1;
    padding-top: 25px;
    padding-bottom: 25px;
    border: 7px solid black;
}

    .subnav-content a {
        float: none;
        color: white;
        text-shadow: 3px 3px black;
    }

.subnav .subnavbtn {
    font-size: 1.6em;
    border: none;
    outline: none;
    color: white;
    padding: 25px 50px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    text-shadow: 3px 3px #633394;
}

.subnav:hover .subnav-content {
    display: block;
}

/* Page Wrapper Style 
================================================== */
.wrapper {
    text-align: left;
    width: 90%;
    margin: 0 auto;
    max-width: 900px;
    color: black;
    font-size: 1.2em;
    font-family: 'Roboto Serif', sans-serif;
    font-weight: bold;
}

/* footer styles
================================================== */
footer {
    text-align: center;
    padding-bottom: 20px;
}

    footer h3 {
        font-family: 'Roboto Serif', sans-serif;
        font-weight: bold;
        color: black;
        text-shadow: 1px 1px #633394;
    }

/* Style for "divider1" at the top of the footer */
hr {
    border-top: 4px solid black;
    width: 100%;
    margin: 0 auto;
}
/* 
    TEAM2 NOTES== If we need to add more styles for a certain page, 
    add a new comment section such as the above sections 
*/


/* Home page styles */

.Home_Title {
    font-family: 'Roboto Serif', sans-serif;
    font-weight: bold;
    color: black;
    text-shadow: 2px 2px #369019;
    margin: 0;
    font-size: 45px;
    text-align: center;
}

.page_button {
    border: 6px solid black;
    color: black;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 25px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
}

    .page_button:hover {
        background: linear-gradient(#633394 0%, #c9ced1 100%);
        color: #f2f2f2;
        text-decoration: none;
        text-align: center;
        text-shadow: 2px 2px #369019;
        box-shadow: none;
    }

.clipart {
    float: left;
    padding-right: 25px;
}

#Home_Calendar_Clipart {
    max-width: 125px;
}

#Home_CTF_Spaceman {
    max-width: 125px;
    padding-right: 0;
}

#Home_Armory_Knight {
    min-width: 125px;
    padding-right: 15px;
}

#Home_CTA_Img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.Home_CTA_Para {
    font-size: 1.2em;
}

.Home_CTA_Closer {
    text-transform: uppercase;
    text-align: center;
    font-weight: 900;
    font-size: 1.7em;
    color: #633394;
    text-decoration: none;
    color: black;
    text-shadow: 2px 2px #369019;
    margin-left: auto;
    display: block;
}

.Home_Page_Title {
    text-align:center;
    font-size: 1.7em;
}

/* calendar tab page styles */
.calendar {
    border: solid 12px #633394;
    border-radius: 8px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
}

/* CTF page styles */
.CTF-list {
    padding-left: 10%;
}


/*Membership tab page styles*/
.prop2 {
    width: 80%;
}


/* ctf-training tab page styles */
#HTP_Img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: solid 12px #633394;
    border-radius: 8px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
}


/* cyber-training tab page styles */
.cybersecurity-content {
    text-decoration: none;
    font-size: 1em;
    list-style-type: none;
}

.cybersecurity-source {
    font-size: medium;
    list-style-type: none;
    text-decoration: none;
    padding-left: 10%;
}

.metasploit-content {
    font-size: 1em;
    font-style: normal;
}


.metasploit-title {
    font-size: 1.5em;
    font-weight: bold;
}

.NoBullet-list {
    list-style-type: none;
}

.Large-Font {
    text-align: center;
    font-family: 'Roboto Serif', sans-serif;
    font-weight: bold;
    font-size: 25px;
}


/* about us tab page styles */

/*Membership tab page styles*/
.prop2 {
    width: 20%;
}

/* contact us tab page styles */
.contact-content {
    text-align: center;
    font-weight: normal;
}

/* Slideshow container */

.my-slides {
    display: none;
    width: 100%;
}

.slideshow {
    max-width: 600px;
    min-width: 600px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
    border: solid 12px #633394;
    border-radius: 8px;
}

/* 
    TEAM2 NOTES== I am adding in the section below for a placeholder; once we complete the design phase and start testing, we need to determine
    what this section with encompass
*/

/*@Media Styles 
================================================== */
